
.titrepage{
    font-size: 200%
}
.radio-custom.radio-disabled.mb10 p{
    font-weight:bold;
}
.container{
    text-align: center;
}
.formulaire{
    margin-left: 5%;
}
button {
    margin-left: 5%;
    margin-top: 0.2%;
}
.title{
    font-weight: bold;
}
.creerunfilm{
    margin-top: 0.7%;
}
.search{
    margin-top: 0.7%;

}
.btn.btn-rounded.btn-info.btn-block.fa.fa-plus{

}
.btn-block{
    width:50%;
}
.col-md-3.user{
    max-width:120px;
    height: 159px;
}
.user-avatar.users{
    height: 86px;
    width:108%;
    text-align: center;
}
.row.centrer{
    margin-left:18px;
    margin-top:28px;
}
.widthmovies{
    max-width:150%;
}
.formulaire{
    font-size: 25px;
    text-align:center;
}
.radio{
    font-weight:200 !important;
}